body {
  text-align: center;
  font-style: normal;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
}

header {
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: auto;
}

nav a {
  text-align: center;
  margin: 0 20px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #000225;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.922);
}

form {
  background-color: rgb(38, 79, 105);
  text-align: center;
  padding: 10px 10px;
  color: rgb(247, 247, 247);
}

h1 {
  color: rgb(14, 14, 14);
  margin-left: 0px;
}

h2 {
  color: rgb(0, 0, 0);
  margin-left: 0px;
}

h3 {
  color: rgb(0, 0, 0);
}

h4 {
  color: rgb(255, 255, 255);
}

h5 {
  width: auto;
  background-color: rgb(255, 255, 255);

  padding: 1em;
  text-align: center;
  color: rgb(14, 14, 14);
  margin-left: 0px;
  justify-content: center;
}

/* Flex */
.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgb(255, 255, 255);

  width: auto;
  height: auto;
  justify-content: center;
}
.item2 {
  background: rgb(151, 193, 216);
  padding: 5px;
  width: auto;
  height: auto;
  content: 15px;
  margin: 10px;
}
/*
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
  grid-gap: 1px;
  background-color: rgb(253, 0, 0);
  padding: 1px;
}

.grid-container >  div {
  background-color: rgb(250, 152, 185);
  text-align: center;
  font-size: 100px;
  height: 1fr;
}
*/
.container {
  display: grid;
  /* grid-template: filas / columnas; */
  grid-template: 10% 1fr 5% / 30% 1fr;
  grid-template-areas:
    "header header"
    "left contenido"
    "footer footer";
  grid-gap: 5px;
  height: 100vh;
}

.header {
  grid-area: header;
}
.left {
  grid-area: left;
  text-align: center;
}

.footer {
  grid-area: footer;
}
/* Estetica */
.item {
  background-color: rgb(255, 255, 255);
  background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
  padding: 5px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
}

img {
  width: 150px;
  height: auto;
  display: block;
}

.container3 {
  display: grid;
  grid-template: filas / columnas;
  grid-template: auto auto auto / auto;
  grid-template-areas:
    "header header"
    "contenido contenido"
    "footer footer";
  grid-gap: 5px;
}

.item3 {
  background-color: rgb(255, 255, 255);
  background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
  padding: 20px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
}

/* Media Query */

@media only screen and (max-width: 400px) {
  body {
    background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
    background: rgb(152, 213, 250);
    font-size: 10px;
  }
}

/* Small devices (600px and up) */

@media only screen and (max-width: 600px) {
  body {
    background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
    background: rgb(152, 213, 250);
    font-size: 13px;
  }
}

/* Medium devices (768px and up) */

@media only screen and (min-width: 768px) {
  body {
    background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  body {
    background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
    font-size: 16px;
  }
}

/* Extra large devices (1200px and up) */

@media only screen and (min-width: 1200px) {
  body {
    background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
    font-size: 16px;
  }
}
