body {
  background-color: rgb(152, 213, 250);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
}

header {
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.922);
}

h1 {
  color: rgb(14, 14, 14);
  margin-left: 0px;
}

h3 {
  color: rgb(0, 0, 0);
}

h4 {
  color: rgb(14, 14, 14);
  margin-left: 0px;
}

nav a {
  text-align: center;
  margin: 0 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border-bottom: 10px;
  color: #000225;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.922);
}

form {
  background-color: rgb(38, 79, 105);
  text-align: center;
  padding: 10px 10px;
  color: rgb(247, 247, 247);
}

/* Buscador */
#buscador {
  width: 300px;
  height: 70px;
  background-color: rgb(38, 79, 105);
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
}

#buscar {
  width: 100%;
  height: 30px;
  margin: auto;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.922);
}

#boton-buscar {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border: 5px;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.922);
  font-size: 12px;
}

#resultados {
  margin-top: 20px;
}

/* Flex del menu con imágenes comprar por rubro*/

.container3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: rgb(16, 216, 206);
  width: 50%;
  height: 1fr;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Flex del menu con imágenes comprar por rubro*/

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: rgb(231, 237, 238);
  width: auto;
  height: auto;
  justify-content: center;
}

.item {
  background: rgb(231, 237, 238);
  width: auto;
  height: auto;
  margin: auto;
  box-sizing: border-box;
}

img {
  width: 100px;
  height: 120px;
  display: block;
}

.logo {
  width: 25px;
  height: 25px;
  display: block;
}

.pdg {
  width: 150px;
  height: 150px;
  display: block;
}

.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgb(255, 255, 255);
  width: auto;
  height: 150px;
  justify-content: space-around;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.922);
}
.item-2 {
  background: rgb(255, 255, 255);
  width: auto;
  height: auto;
  content: auto;
  box-sizing: border-box;
}

/*visited 
a:link {
  overflow: hidden;
}

/* visited link 
a:link {
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/*visited 
link 
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over
link 
a:hover {
  color: rgb(255, 255, 255);
}

/* selected 
link 
a:active {
  color: rgb(255, 255, 255);
  background-color: #ffffff;
}

/* visited link */
style div.gallery {
  margin: 5px;
  border: 100px solid #db0707;
  float: left;
  width: 180px;
}
/* Media Query */

@media only screen and (max-width: 400px) {
  body {
    background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
    background: rgb(152, 213, 250);
    font-size: 10px;
  }
}

/* Small devices (600px and up) */

@media only screen and (max-width: 600px) {
  body {
    background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
    background: rgb(152, 213, 250);
    font-size: 10px;
  }
}

/* Medium devices (768px and up) */

@media only screen and (min-width: 768px) {
  body {
    background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
    font-size: 16px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 992px) {
  body {
    background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
    font-size: 16px;
  }
}

/* Extra large devices (1200px and up) */

@media only screen and (min-width: 1200px) {
  body {
    background-image: url(/imagenes\ y\ videos/Foto3.jpeg);
    font-size: 16px;
  }
}
